# Editor backup files
*~
*.bak

# MSOffice temporary files
~*

# MAC rubbish
.DS_Store    
														     
# build utility directories
node_modules

# Misc
.idea/
.svn/
site/
.bundle/
.pairs
.rvmrc
*.gem
.bundle
tags
Gemfile.lock
pkg/*
.sass-cache/*
src/html/.sass-cache/*

